In [4]:
import pandas as pd

In [5]:
series = pd.Series(["Noman", "Rakib", "Rifat", "Shimul", "Abeer"])
print(series.head())

0     Noman
1     Rakib
2     Rifat
3    Shimul
4     Abeer
dtype: object

In [6]:
df = pd.DataFrame({"student_name":series, "age":[25, 24, 26, 25, 21]})
print(df.head())

  student_name  age
0        Noman   25
1        Rakib   24
2        Rifat   26
3       Shimul   25
4        Abeer   21

In [7]:
df

  student_name  age
0        Noman   25
1        Rakib   24
2        Rifat   26
3       Shimul   25
4        Abeer   21

In [9]:
df.to_csv("my_custom_data.csv", index=False)

In [12]:
df = pd.read_csv("my_custom_data.csv")
print(df.head())

  student_name  age
0        Noman   25
1        Rakib   24
2        Rifat   26
3       Shimul   25
4        Abeer   21